*{
    margin: 0;
    padding: 0;

    font-family: "Ubuntu", sans-serif;
}

body {background: black;}
canvas {display:block;}

h1{
    font-size: 45px;
    padding: 5px 0;
}

p{
    font-size: 20px;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.container {
    padding: 0 150px;
    max-width: 1720px;
    margin-left: auto;
    margin-right: auto;
}
